div.gall{
    position: absolute;
    top:  100px;
    margin-top: 50px;
    width: 100vw;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0);
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

div.gall img{
    width: 90%;
    margin-top: -250px;
    text-align: right;
    margin-right: -100px;
}